@page "/test"
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@rendermode InteractiveServer   
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<a href="./login">login</a>
<a href="./logout">logout</a>

<AuthorizeView Roles="Сотрудник, Менеджер, Пользователь">
    <NotAuthorized>
        <p>Вы не авторизованы</p>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Roles="Сотрудник">
    <Authorized>
        Авторизованный! Поздравляю!
    </Authorized>
</AuthorizeView>

Welcome to your new app.
