@page "/applications"
@using ConstellationOfDelicacies.Bll.Clients
@using ConstellationOfDelicacies.Bll.Interfaces
@using ConstellationOfDelicacies.Web.Components.Templates.Manager
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using ConstellationOfDelicacies.Web.Components.Pages.Auth

@inject NavigationManager navManager
@rendermode InteractiveServer

<AuthorizeView Roles="Менеджер">
    <Authorized>
        <PageTitle>Свободные заказы</PageTitle>

        @if (_orders.Count() == 0)
        {
            <Card>
                <CardBody>
                    <CardText>Нет свободных заказов</CardText>
                </CardBody>
            </Card>
        }
        else
        {
            <div>
                @foreach (var o in _orders)
                {
                    <div>
                        <FreeOrderCardTemplate ManagerId="_managerId" Order="o" />
                    </div>
                }
            </div>
        }

    </Authorized>
    <NotAuthorized>
        <HomeRedirect/>
    </NotAuthorized>
</AuthorizeView>

@code {

    [CascadingParameter]
    public Task<AuthenticationState> State { get; set; }

    private List<Claim> claims = new List<Claim>();

    private List<OrdersOutputModel> _orders;

    private int _managerId;

    public Applications()
    {
        _orders = new List<OrdersOutputModel>();
    }

    private async Task GetClaimsPrincipalData()
    {
        var authState = await State;
        var user = authState.User;

        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            claims = user.Claims.ToList();

            _managerId = Int32.Parse(claims.Where(c => c.Type == "UserId").Single().Value);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _managerId = 20;
        //await GetClaimsPrincipalData();

        IOrderClient orderClient = new OrderClient();
        _orders = orderClient.GetFreeOrders();

        await base.OnInitializedAsync();
    }

    protected override void OnAfterRender(bool firstRender)
    {         
        base.OnAfterRender(firstRender);
    }

}