@page "/chiefs/{Id:int}"
@using ConstellationOfDelicacies.Bll.IManager


<div class="chiefs-edit-container">
    <div class="mb-6">
      <label for="chief-name" class="form-label">ФИО</label>
      <input type="text" class="form-control" id="chief-name" value="@_name">
    </div>
    <div class="mb-6">
      <label for="chief-phone" class="form-label">Номер телефона</label>
        <input type="text" class="form-control" id="chief-phone" value="@_phone">
    </div> 
    <div class="mb-6">
        <label for="chief-phone" class="form-label">Адрес электронной почты</label>
        <input type="email" class="form-control" id="chief-mail" value="@_mail">
    </div>
    <button type="button" class="btn btn-primary chief-edit-save-button">Сохранить изменения</button>
    <a href="/chiefs" class="btn btn-primary chiefs-edit-back-button">Вернуться назад</a>
</div>


@code {
    
    [Parameter]
    public int Id { get; set; }

    private string _name;

    private string _phone;
    private string _mail;

    private IManager _manager;

    public ChiefsCardForEdit()
    {
        _manager = new ManagerMock();
    }

    protected override void OnInitialized()
    {

        var chief = _manager.GetChiefById(Id);
        _name = chief.Name;
        _phone = chief.Phone;
        _mail = chief.Mail;
    }
}