@page "/chiefs"
@rendermode InteractiveServer
@using ConstellationOfDelicacies.Bll.Interfaces
@using ConstellationOfDelicacies.Bll.Clients
@using ConstellationOfDelicacies.Dal.Dtos

<Modal @ref="modal" />

<div class="top-row top-row-manager manager-top-bar">
    <a class="top-bar-link" href="/manager">Мои заявки</a>
    <a class="top-bar-link" href="/applications">Все заявки</a>
    <a class="top-bar-link current-page" href="/chiefs">Редактировать поваров</a>
    <a class="top-bar-link" href="/waiters">Редактировать официантов</a>
</div>

<div class="container">
    <div class="add-worker">
        <Button Color="ButtonColor.Primary" @onclick="ShowTemplate">Добавить повара</Button>
    </div>

    <CardGroup>
        @foreach (var chief in _chiefs)
        {
            <div class="worker-card">
                <WorkerCardTemplate Worker="@chief" />
            </div>
        }
    </CardGroup>        
</div>

@code {
    private Modal modal = default!;

    private List<UsersOutputModel> _chiefs;
    private UserClient _client;

    public Chiefs()
    {
        _client = new UserClient();
        _chiefs = _client.GetAllChiefs();
    }

    private void RemoveChief(int id)
    {
        IUserClient manager = new UserClient();
        manager.RemoveUser(id);
        _chiefs = _client.GetUsersByProfile(1);
    }

    private async Task ShowTemplate()
    {
        modal.IsVerticallyCentered = true;
        modal.IsScrollable = true;
        await modal.ShowAsync<AddChiefTemplate>(title: "Добавить повара");
    }
}