@page "/chiefs"
@rendermode InteractiveServer
@using ConstellationOfDelicacies.Bll.IManager

<div class="top-row top-row-manager manager-top-bar">
    <a class="top-bar-link" href="/manager">Мои заявки</a>
    <a class="top-bar-link" href="/applications">Все заявки</a>
    <a class="top-bar-link current-page" href="/chiefs">Редактировать поваров</a>
    <a class="top-bar-link" href="/applications">Редактировать официантов</a>
</div>

<div class="chiefs-container">
    <div class="chiefs-field">

        @foreach (var chief in _chiefs)
        {
            @* <a href="./chiefs/@chief.Id"> *@
            <div class="chiefs-card">
                <p class="chief-id">Id: @chief.Id</p>
                <p class="chief-name">Имя: @chief.Name</p>
                <p class="chief-phone">Телефон: @chief.Phone</p>
                <p class="chief-mail">Почта: @chief.Mail</p>
                <a href="./chiefs/@chief.Id" class="chief-edit-link">Редактировать</a>
                <button @onclick="() => RemoveChief(chief.Id)" class="btn btn-primary" type="button">Удалить</button>
            </div>
            // </a>
        }
    </div>
</div>

<h3>Chiefs</h3>

@code {
    private List<Application> applicationsList;
    private List<WorkerOutputModel> _chiefs;
    IManager manager = new ManagerMock();


    public Chiefs()
    {
        _chiefs = manager.GetAllChiefs();
    }

    protected override void OnInitialized()
    {
        _chiefs = manager.GetAllChiefs();
    }

    private void RemoveChief(int id)
    {
        manager.RemoveChief(id);
        _chiefs = manager.GetAllChiefs();
    }

    private class Application
    {
    }

}