@page "/chiefs"
@rendermode InteractiveServer
@using ConstellationOfDelicacies.Bll.IManager
@using ConstellationOfDelicacies.Bll.Clients
@using ConstellationOfDelicacies.Dal.Dtos

<div class="top-row top-row-manager manager-top-bar">
    <a class="top-bar-link" href="/manager">Мои заявки</a>
    <a class="top-bar-link" href="/applications">Все заявки</a>
    <a class="top-bar-link current-page" href="/chiefs">Редактировать поваров</a>
    <a class="top-bar-link" href="/waiters">Редактировать официантов</a>
</div>

<a class="btn btn-primary add-chiefs-link" href="./chief">Добавить повара</a>

<div class="chiefs-container">
    <div class="chiefs-field">
        @foreach (var chief in _chiefs)
        {
            <WorkerCardTemplate Worker="@chief"/>
        }
    </div>
</div>

@code {
    private List<UsersOutputModel> _chiefs;
    private UserClient _client;

    public Chiefs()
    {
        _client = new UserClient();
        _chiefs = _client.GetAllChiefs();
    }

    protected override void OnInitialized()
    {
        //_chiefs = _client.GetUsersByProfile(1);
    }

    private void RemoveChief(int id)
    {
        IUserClient manager = new UserClient();
        manager.RemoveUser(id);
        _chiefs = _client.GetUsersByProfile(1);
    }

}