@page "/Manager"
<div class="top-row top-row-manager manager-top-bar">
    <a class="top-bar-link current-page" href="/manager" target="_blank">Мои заявки</a>
    <a class="top-bar-link" href="/applications" target="_blank">Все заявки</a>
    <a class="top-bar-link current-page" href="/chiefs" target="_blank">Редактировать поваров</a>
    <a class="top-bar-link current-page" href="/waiters" target="_blank">Редактировать официантов</a>
</div>
<PageTitle>Manager</PageTitle>
<MyApplications/>