@page "/order{orderId:int}"
@using ConstellationOfDelicacies.Bll.Enums
@using ConstellationOfDelicacies.Bll.Clients
@using ConstellationOfDelicacies.Bll.Interfaces
@using ConstellationOfDelicacies.Bll.Models.InputModels;
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using ConstellationOfDelicacies.Web.Components.Pages.Auth

@inject NavigationManager navManager
@rendermode InteractiveServer

<PageTitle>Заказ</PageTitle>

<AuthorizeView Roles="Менеджер" >
    <Authorized>
        <Modal @ref="modal" />
        <div>
            <OrderCardTemplate Order="_order" UpdatePage="OnUpdatePage"/>
        </div>
        <div>
            <Card>
                <CardBody>
                    <CardTitle>
                        <div class="order-tasks-header">
                            <h4>Задачи заказа</h4>
                            @if (_order.Status == OrderStatuses.InProgress)
                            {
                               <Button Type="ButtonType.Button" Color="ButtonColor.Primary" 
                                        @onclick="AddOrderTasks">
                                    Добавить задачу
                               </Button> 
                            }                            
                        </div>
                    </CardTitle>
                    <CardText>
                        @if (_orderTasks == null || _orderTasks.Count == 0)
                        {
                            <p class="order-tasks-side-text">Ещё нет назначенных задач</p>
                        }
                        else
                        {
                            <div class="order-tasks">
                                @foreach (var t in _orderTasks)
                                {
                                    <OrderTaskTemplate OrderTask="t" UpdatePage="OnUpdatePage" Status="_order.Status"/>
                                }
                            </div>
                        }
                    </CardText>
                </CardBody>
            </Card>
        </div>
    </Authorized>

    <NotAuthorized>
        <HomeRedirect/>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> State { get; set; }

    private List<Claim> claims = new List<Claim>();

    [Parameter]
    public int orderId { get; set; }

    private Modal modal = default!;

    private IOrderClient _client;
    private ITaskClient _taskClient;
    private IUserClient _userClient;

    private OrdersOutputModel _order;
    private List<TasksOutputModel>? _orderTasks;
    private UsersOutputModel _manager;

    private Action OnUpdatePage;

    public OrderEditManager()
    {
        OnUpdatePage = UpdatePage;

        _client = new OrderClient();
        _taskClient = new TaskClient();
        _userClient = new UserClient();

        _order = new OrdersOutputModel();
        _manager = new UsersOutputModel();
    }

    private async Task GetClaims()
    {
        var authState = await State;
        var user = authState.User;

        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            claims = user.Claims.ToList();
            var userId = Int32.Parse(claims.Where(c => c.Type == "UserId").First().Value);

            if (userId != _manager.Id)
            {
                navManager.NavigateTo("./");
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _order = _client.GetOrderById(orderId);
        if(_order.Id != orderId)
        {
            navManager.NavigateTo("./");
        }

        _manager = _userClient.GetOrderManager(orderId);
        await GetClaims();

        _orderTasks = _taskClient.GetAllOrderTasks(orderId);
    }

    public void UpdatePage()
    {
        _client.UpdateOrderPrice(orderId);
        _order = _client.GetOrderById(orderId);
        _orderTasks = _taskClient.GetAllOrderTasks(orderId);
        StateHasChanged();
    }

    private async Task AddOrderTasks()
    {
        modal.IsVerticallyCentered = true;
        modal.IsScrollable = true;

        var parameters = new Dictionary<string, object>();
        parameters.Add("OrderId", orderId);
        parameters.Add("UpdatePage", OnUpdatePage);

        await modal.ShowAsync<AddTaskTemplate>(title: "Добавить задачу", parameters: parameters);
    }
}
