@page "/waiters"
@rendermode InteractiveServer
@using ConstellationOfDelicacies.Bll.Clients

<div class="top-row top-row-manager manager-top-bar">
    <a class="top-bar-link" href="/manager">Мои заявки</a>
    <a class="top-bar-link" href="/applications">Все заявки</a>
    <a class="top-bar-link" href="/chiefs">Редактировать поваров</a>
    <a class="top-bar-link current-page" href="/waiters">Редактировать официантов</a>
</div>

<Button Color="ButtonColor.Primary" @onclick="ShowModal">Добавить повара</Button>

<div class="waiters-container">
    <div class="waiters-field">

        @foreach (var waiter in _waiters)
        {
            <WorkerCardTemplate Worker="@waiter"/>
        }
    </div>
</div>

@code {
    private Modal modal = default!;

    private List<UsersOutputModel> _waiters;
    private UserClient _client;

    public Waiters()
    {
        _client = new UserClient();
        _waiters = _client.GetAllWaiters();
    }

    private async Task ShowModal()
    {
        modal.IsVerticallyCentered = true;
        modal.IsScrollable = true;
        await modal.ShowAsync<AddWaiterTemplate>(title: "Добавить официанта");
    }

}