@page "/waiters"
@using ConstellationOfDelicacies.Bll.Clients
@using Microsoft.AspNetCore.Components.Authorization
@using ConstellationOfDelicacies.Web.Components.Pages.Auth

@inject NavigationManager navManager
@rendermode InteractiveServer

<AuthorizeView Roles="Менеджер">
    <Authorized>
        <PageTitle>Официанты</PageTitle>

        <Modal @ref="modal" />

        <div class="top-row top-row-manager manager-top-bar">
            <a class="top-bar-link" href="/manager">Мои заявки</a>
            <a class="top-bar-link" href="/applications">Все заявки</a>
            <a class="top-bar-link" href="/chiefs">Редактировать поваров</a>
            <a class="top-bar-link current-page" href="/waiters">Редактировать официантов</a>
        </div>

        <div class="container">
            <div class="add-worker">
                <Button Color="ButtonColor.Primary" @onclick="ShowModal">Добавить официанта</Button>
            </div>

            <CardGroup>
                @foreach (var waiter in _waiters)
                {
                    <WorkerCardTemplate Worker="@waiter" />
                }
            </CardGroup>
        </div>
    </Authorized>
    <NotAuthorized>
        <HomeRedirect/>
    </NotAuthorized>
</AuthorizeView>

@code {
    private Modal modal = default!;

    private List<UsersOutputModel> _waiters;
    private UserClient _client;

    public Waiters()
    {
        _client = new UserClient();
        _waiters = new List<UsersOutputModel>();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        _waiters = _client.GetAllWaiters();
        base.OnAfterRender(firstRender);
    }

    private async Task ShowModal()
    {
        modal.IsVerticallyCentered = true;
        modal.IsScrollable = true;
        await modal.ShowAsync<AddWaiterTemplate>(title: "Добавить официанта");
    }

}