@using ConstellationOfDelicacies.Web.Components.Layout.NavMenus
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    

    <main>
        
        @* <div>
            <NavMenu />
        </div>*@
        <div class="main-background-image">
            <div class="main-background-color">
                <div class="page-navmenu page-item">
                    <NavMenuUser />
                </div>
                <article class="content px-4 page-item">
                    @Body
                </article>
            </div>
        </div> 
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
