@rendermode InteractiveServer

<div class="navmenu">
    <div class="navmenu-logo">
        <a href="/">
            <img class="navmenu-logo-img" src="/Resources/logo.png" />
        </a>
    </div>
    <nav class="navmenu-links">
        <div class="nav-item">
            <NavLink class="nav-link navmenu-link" Match="NavLinkMatch.All" href="/applications">Все заказы</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link navmenu-link" Match="NavLinkMatch.All" href="./">Мои заказы</NavLink>
        </div> 
        <div class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/chiefs">Повара</a></li>
                <li><a class="dropdown-item" href="/waiters">Официанты</a></li>
            </ul>
        </div>
    </nav>
    <div class="navmenu-user">
        <img class="navmenu-icon" src="/Resources/icons/profile.svg" alt="Profile" />
        <img class="navmenu-icon" src="/Resources/icons/menu.svg" alt="Menu" />
    </div>
</div>


@code {

}
