@rendermode InteractiveServer

<div class="navmenu">
    <div class="navmenu-logo">
        <a href="/">
            <img class="navmenu-logo-img" src="/Resources/logo.png" />
        </a>
    </div>
    <nav class="navmenu-links">
        <div class="navmenu-link">
            <NavLink Match="NavLinkMatch.All">Банкет</NavLink>
        </div>
        <div class="navmenu-link">
            <NavLink Match="NavLinkMatch.All">Фуршет</NavLink>
        </div>
        <div class="navmenu-link">
            <NavLink Match="NavLinkMatch.All">Кофе-брейк</NavLink>
        </div>
    </nav>
    <div class="navmenu-user"> 
        <a class="navmenu-button" href="/login">Войти</a>
    </div>
</div>

@code {

    //TODO: action
    public void Login()
    {
        
    }
}
