@using ConstellationOfDelicacies.Bll.Enums
@using ConstellationOfDelicacies.Bll.Clients
@using ConstellationOfDelicacies.Bll.Interfaces

@rendermode InteractiveServer

<Card Style="width: 450px;">
    <CardBody Class="d-flex align-itmes-center flex-row justify-content-between">
        <div>
            <CardTitle>Заказ: @Order!.Id</CardTitle>
                <div>
                    <p>Пожелания: @Order!.Comment</p>
                    <p>Адрес: @Order!.Address</p>
                    <p>Количество персон: @Order!.NumberOfPersons</p>
                    <p>Стоимость: @Order!.TotalPrice</p>
                </div>
        </div>
        
        <div class="d-flex flex-column align-itmes-center justify-content-center">
            <UserOrderStatusTemplate Order="Order" DeleteOrder="OnDeleteOrder"/>
        </div>
    </CardBody>
</Card>

@code {

    [Parameter]
    public OrdersOutputModel Order { get; set; }

    [Parameter]
    public Action OnUpdatePage { get; set; }

    public Action OnDeleteOrder;

    protected override void OnInitialized()
    {
        OnDeleteOrder = DeleteOrder;
        OnDeleteOrder += OnUpdatePage;
        base.OnInitialized();
    }

    public void DeleteOrder()
    {
        IOrderClient orderClient = new OrderClient();
        orderClient.DeleteUserOrder(Order.Id);
    }
}
