@using ConstellationOfDelicacies.Bll.Enums
@rendermode InteractiveServer

@switch (Status)
{
    case OrderStatus.InProgress:
        <div class="d-inline alert alert-info task-status-alert">В работе</div>
        break;
    case OrderStatus.Deleted:
        <div class="d-inline alert alert-danger task-status-alert">Удален</div>
        break;
    case OrderStatus.Completed:
        <div class="d-inline alert alert-success task-status-alert">Завершен</div>
        break;
    case OrderStatus.Created:
       
            <div class="d-inline alert alert-warning task-status-alert text-center mb-2">Создан</div>
            <button class="btn btn-primary" @onclick="DeleteOrder">Отменить</button>
        break;
}

@code { 

    [Parameter]
    public OrderStatus Status { get; set; }

    [Parameter]
    public Action DeleteOrder { get; set; }

}
