@using ConstellationOfDelicacies.Bll.Enums
@using ConstellationOfDelicacies.Bll.Clients
@using ConstellationOfDelicacies.Bll.Interfaces

<Card>
    <CardBody>
        <CardTitle>Заказ: @Order!.Id</CardTitle>
        <div>
            <p>Пожелания: @Order!.Comment</p>
            <p>Адрес: @Order!.Address</p>
            <p>Количество персон: @Order!.NumberOfPersons</p>
        </div>
        <div>
            @if (Order!.IsCompleted)
            {
                <UserOrderStatusTemplate Status="Order.Status" DeleteOrder="OnDeleteOrder"/>
            }
        </div>
    </CardBody>
</Card>

@code {

    [Parameter]
    public OrdersOutputModel Order { get; set; }

    [Parameter]
    public Action OnDeleteOrder { get; set; }

    protected override void OnInitialized()
    {
        OnDeleteOrder += DeleteOrder;
        base.OnInitialized();
    }

    public void DeleteOrder()
    {
        IOrderClient orderClient = new OrderClient();
        orderClient.DeleteUserOrder(Order.Id);
    }
}
