@page "/registrationComplete"
<div class="registration-complete-container">
 <div class="registration-complete-block">
   <h3 class="registration-complete-text">Вы успешно зарегистрировались</h3>
   <button type="submit" class="btn btn-success">Готово</button>
 </div>


</div>

@code {
    
}