@page "/registration"

<div class="registration-container">
<h3>Регистрация</h3>
    
    <div class="registration-form">
        <form class="row g-3">
            <div class="col-md-12">
                <label for="inputName" class="form-label">ФИО</label>
                <input type="text" class="form-control" id="inputName" placeholder="Введите ФИО">
            </div>
            <div class="col-md-12">
                <label for="inputEmail" class="form-label">Эл. адрес</label>
                <input type="email" class="form-control" id="inputEmail">
            </div>
            <div class="col-md-12">
                <label for="inputPassword" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="inputPassword">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</div>


@code {

}