@page "/registrationComplete"
<div class="registration-complete-container">
 <div class="registration-complete-block">
   <h3 class="registration-complete-text">Вы успешно зарегистрировались</h3>
   <a href="/" class="btn btn-success">Готово</a>
 </div>


</div>

@code {
    
}