@page "/registration"
@using ConstellationOfDelicacies.Bll.Models.InputModels
@using ConstellationOfDelicacies.Bll.Clients
@using ConstellationOfDelicacies.Bll.Enums
@using Microsoft.AspNetCore.Components.Authorization
@using ConstellationOfDelicacies.Web.Components.Templates.User

@inject NavigationManager navManager
@rendermode InteractiveServer

<AuthorizeView Roles="Менеджер, Сотрудник, Пользователь">
    <Authorized>
        <HomeRedirect/>
    </Authorized>

    <NotAuthorized>
        <Modal @ref="modal" title="Регистрация завершена" UseStaticBackdrop="true" CloseOnEscape="false"
               IsScrollable="true" IsVerticallyCentered="true">
            <BodyTemplate>
                <p>Вы успешно зарегистрировались!</p>
                <p>Чтобы продолжить, войдите в аккаунт</p>
            </BodyTemplate>
            <FooterTemplate>
                <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Закрыть</Button>
            </FooterTemplate>
        </Modal>

        <Card>
            <CardBody>
                <PageTitle>Регистрация</PageTitle>

                <div class="registration-container">
                    <h3>Регистрация</h3>

                    <RegistrationFormTemplate RegistrationComplete="OnFormSubmit"/>
                </div>
            </CardBody>
        </Card>
    </NotAuthorized>
</AuthorizeView>

@code {

    private Modal modal = default!;

    public Action OnFormSubmit;

    public Registration()
    {
        OnFormSubmit = RegistrationComplete;
    }

    public void RegistrationComplete()
    {
        OnShowModalClick();
    }

    private async Task OnShowModalClick()
    {
        await modal.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await modal.HideAsync();
        navManager.NavigateTo("/login");
    }

}