@using ConstellationOfDelicacies.Bll.Clients
@using ConstellationOfDelicacies.Bll.Enums

<Card>
    <CardBody class="dashboard-card">
        <CardTitle><span class="order-tasks-title">Заказ</span></CardTitle>
        <CardText>
            <p><span class="order-tasks-title">Что надо сделать</span> @Task!.Title</p>
            <p><span class="order-tasks-title">Дата заказа:</span> @_orderDate</p>
        </CardText>
        @if (Task.Status.Id == (int)TaskStatuses.Created)
        {
            <button type="submit" class="btn btn-primary" @onclick="GetOnWork">Взять в работу</button>
        }
        else
        {
            <p>Заказ взят вами в работу</p>
        }
    </CardBody>
</Card>

@code {
    [Parameter, EditorRequired]
    public TasksOutputModel? Task { get; set; }

    [Parameter]
    public int UserId { get; set; }

    [Parameter]
    public Action UpdatePage { get; set; }

    private string? _orderDate;
    private TaskClient _taskClient;

    public DashBoardCardTemplate()
    {
        _taskClient = new TaskClient();
    }

    protected override void OnInitialized()
    {
        IOrderClient orderClient = new OrderClient();
        _orderDate = orderClient.GetOrderById(Task!.Order.Id).OrderDate.ToString();

        base.OnInitialized();
    }

    private void GetOnWork()
    {
        _taskClient.UpdateTaskStatus((int)TaskStatuses.InProgress, Task.Id);

        UpdatePage();
    }
}