.order-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.order-form {
    margin-top: 1rem;
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 5px;
    max-width: 700px;
    max-height: 700px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.order-form-note {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: gray; 
    margin-bottom: 0;
}
