/*Manager Page*/
.top-row-manager{
    justify-content: flex-start;
}
.current-page{
    text-decoration: underline;
    color:gray;
}
.manager-top-bar{
    display: flex;
    justify-content: flex-start;
    background-color: whitesmoke;
    border-radius: 5px;
}
.top-bar-link{
    padding: 0.3rem;
}

.add-worker{
    margin-bottom: 10px;
}

.order-tasks-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-tasks-side-text {
    color: grey;
}

.order-tasks-title {
    font-weight: 700;
}