.registration-complete-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}
.registration-complete-block{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);;
    border-radius: 5px;
    padding: 30px;
}
.registration-complete-text{
    color: black;
}