<div class="menu-card">
    <img class="menu-img" src="/Resources/menu-img-pattern.jpg"/>
    <div class="menu-description">
        <h3 class="menu-title">Title</h3>
        <p class="menu-about">aboutabout aboutabout</p>
        <p class="menu-price">00000</p>
    </div>
</div>

@code {

}
