<Card>
    <CardBody>
        <CardTitle><span class="order-tasks-title">Заказ: @Order!.Id</span></CardTitle>
        <CardSubTitle class="order-tasks-side-text">Заказчик: @_userName</CardSubTitle>
            <CardText>
                <p><span class="order-tasks-title">Количество человек:</span> @Order!.NumberOfPersons</p>
            <p><span class="order-tasks-title">Комментарий заказчика:</span> @Order!.Comment</p>
            <p><span class="order-tasks-title">Адресс проведения:</span> @Order!.Address</p>
        </CardText>
    </CardBody>
</Card>

@code {

    [Parameter, EditorRequired]
    public OrdersOutputModel Order { get; set; }

    private string? _userName;

    protected override void OnInitialized()
    {
        var user = Order.Tasks.Where(t => t.Title == "Пользователь").Single().Users.First();
        _userName = $"{user.FirstName} {user.LastName}";
        base.OnInitialized();
    }
}
