@rendermode InteractiveServer

<Card>
    <CardBody>
        <div>
            <CardTitle><span class="order-tasks-title">Заказ: @Order!.Id</span></CardTitle>
            <CardSubTitle class="order-tasks-side-text mb-2">Заказчик: @_userName</CardSubTitle>
            <CardText>
                <p><span class="order-tasks-title">Количество человек:</span> @Order!.NumberOfPersons</p>
                <p><span class="order-tasks-title">Комментарий заказчика:</span> @Order!.Comment</p>
                <p><span class="order-tasks-title">Адресс проведения:</span> @Order!.Address</p>
            </CardText>
            <ul>
                <li>Стоимость заказа: @Order!.TotalPrice</li>
            </ul>
        </div>
        <div>
            <Button Color="ButtonColor.Primary">Завершить</Button>
            <Button Color="ButtonColor.Warning">Отменить</Button>
        </div>
    </CardBody>
</Card>

@code {

    [Parameter, EditorRequired]
    public OrdersOutputModel? Order { get; set; }

    private string? _userName;
    private string? _userPhone;

    protected override void OnInitialized()
    {
        if (Order == null)
        {
            _userName = "???";
            Order = new OrdersOutputModel()
                {
                    Id = 0,
                    NumberOfPersons = 0,
                    Comment = "???",
                    Address = "???"
                };
        } 
        else
        {
            var user = Order.Tasks.Where(t => t.Title == "Пользователь").Single().Users.First();
            _userName = $"{user.FirstName} {user.LastName}";
        }  

        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (Order.Tasks != null)
        {
            var user = Order.Tasks.Where(t => t.Title == "Пользователь").Single().Users.First();
            _userName = $"{user.FirstName} {user.LastName}";
            _userPhone = user.Phone;
            StateHasChanged();
        }
        base.OnAfterRender(firstRender);
    }
}
