@using ConstellationOfDelicacies.Bll.Enums

@switch(Status.Id)
{
    case (int)TaskStatuses.Created:
        <div class="alert alert-warning task-status-alert">@Status.Title</div>
        break;
    case (int)TaskStatuses.InProgress:
        <div class="alert alert-info task-status-alert">@Status.Title</div>
        break;
    case (int)TaskStatuses.Completed:
        <div class="alert alert-success task-status-alert">@Status.Title</div>
        break;
}

@code {

    [Parameter]
    public TaskStatusesOutputModel Status {get; set;}

}
