@page "/chiefs/{Id:int}"
@rendermode InteractiveServer
@using ConstellationOfDelicacies.Bll.Interfaces


<div class="chiefs-edit-container">
    <div class="mb-6">
        <label for="chief-name" class="form-label">ФИО</label>
        <input type="text" class="form-control" id="chief-name" value="@_name" @oninput="UpdateName">
    </div>
    <div class="mb-6">
        <label for="chief-phone" class="form-label">Номер телефона</label>
        <input type="text" class="form-control" id="chief-phone" value="@_phone" @oninput="UpdatePhone">
    </div>
    <div class="mb-6">
        <label for="chief-phone" class="form-label">Адрес электронной почты</label>
        <input type="email" class="form-control" id="chief-mail" value="@_mail" @oninput="UpdateMail">
    </div>
    <button type="button" class="btn btn-primary chief-edit-save-button" @onclick="UpdateChief">Сохранить изменения</button>
    <a href="/chiefs" class="btn btn-primary chiefs-edit-back-button">Вернуться назад</a>
</div>


@code {

    [Parameter] public int Id { get; set; }
    private string _name;
    private string _phone;
    private string _mail;
    private WorkerOutputModel _chief;
    private IManager _manager;

    public ChiefsCardForEditTemplate()
    {
        _manager = new ManagerMock();
    }

    protected override void OnInitialized()
    {
        var chief = _manager.GetChiefById(Id);
        _chief = chief;
        _name = chief.Name;
        _phone = chief.Phone;
        _mail = chief.Mail;
    }

    public void UpdateName(ChangeEventArgs e)
    {
        _name = e.Value.ToString();
    }

    public void UpdatePhone(ChangeEventArgs e)
    {
        _phone = e.Value.ToString();
    }

    public void UpdateMail(ChangeEventArgs e)
    {
        _mail = e.Value.ToString();
    }

    public void UpdateChief()
    {
        _chief.Name = _name;
        _chief.Phone = _phone;
        _chief.Mail = _mail;
        _manager.UpdateChiefById(_chief.Id, _chief);
        Console.WriteLine(_chief.Name);
    }

}