@using ConstellationOfDelicacies.Bll.Clients
@using ConstellationOfDelicacies.Bll.Interfaces
@using ConstellationOfDelicacies.Bll.Models.InputModels
@rendermode InteractiveServer
@inject NavigationManager navManager

<Card>
    <CardBody Class="d-flex flex-row justify-content-between ">
        <div>
            <CardTitle>Заказ @Order!.Id</CardTitle>
            <CardSubTitle>Заказчик: @_userName</CardSubTitle>
            <CardText>Пожелания: @Order!.Comment</CardText>
        </div>
        <div class="d-flex flex-column align-items-center">
            <CardText>Номер телефона: @_phoneNumber</CardText>
            <Button Style="margin-right: 10px;" Color="ButtonColor.Primary" @onclick="EditOrder">
                Редактировать
            </Button>
        </div>
    </CardBody>
 </Card>

    @code {

    [Parameter]
    public OrdersOutputModel Order { get; set; }

    private string? _userName;
    private string? _phoneNumber;

    protected override void OnAfterRender(bool firstRender)
    {
        if (Order != null)
        {
            IUserClient userClient = new UserClient();
            var user = userClient.GetOrderUser(Order!.Id);
            _userName = $"{user.FirstName} {user.LastName}";
            _phoneNumber = user.Phone;
            StateHasChanged();
        }
        base.OnAfterRender(firstRender);
    }

    public void EditOrder()
    {
        navManager.NavigateTo($"/order{Order!.Id}");
    }
}
