@using ConstellationOfDelicacies.Web.Components.Templates.Manager
@using ConstellationOfDelicacies.Bll.Clients
@using ConstellationOfDelicacies.Bll.Interfaces
@using ConstellationOfDelicacies.Bll.Enums
@rendermode InteractiveServer

<Modal @ref="modal" />

<Card>
    <CardBody Class="d-flex flex-row justify-content-between">
        <div>
            <CardTitle><span class="order-tasks-title">Заказ: @Order!.Id</span></CardTitle>
            <CardSubTitle class="order-tasks-side-text mb-2">
                <p>Заказчик: @_userName</p>
                <p>Номер телефона: @_userPhone</p>
                <p>Электронная почта: @_userMail</p>
            </CardSubTitle>
            <CardText>
                <p><span class="order-tasks-title">Количество человек:</span> @Order!.NumberOfPersons</p>
                <p><span class="order-tasks-title">Комментарий заказчика:</span> @Order!.Comment</p>
                <p><span class="order-tasks-title">Адресс проведения:</span> @Order!.Address</p>
                <p><span class="order-tasks-title">Дата:</span> @Order!.OrderDate</p>
            </CardText>
            <ul>
                <li>Стоимость заказа: @Order!.TotalPrice</li>
            </ul>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-between">
            <ManagerOrderStatusTemplate Status="Order.Status"/>
            <Button Color="ButtonColor.Success" @onclick="EditOrder">Изменить</Button>
            @if (Order.Status == OrderStatuses.InProgress)
            {
                <div>
                    <Button Color="ButtonColor.Primary" @onclick="CompleteOrder">Завершить</Button>
                    <Button Color="ButtonColor.Warning" @onclick="DeleteOrder">Отменить</Button>
                </div>                
            }            
        </div>
    </CardBody>
</Card>

@code {

    [Parameter, EditorRequired]
    public OrdersOutputModel Order { get; set; }

    [Parameter]
    public Action UpdatePage { get; set; }

    private Modal modal = default!;

    private IOrderClient _orderClient;

    private string? _userName;
    private string? _userPhone;
    private string? _userMail;

    public OrderCardTemplate()
    {
        _orderClient = new OrderClient();
    }

    protected override void OnInitialized()
    {
        if (Order == null)
        {
            _userName = "???";
            Order = new OrdersOutputModel()
                {
                    Id = 0,
                    NumberOfPersons = 0,
                    Comment = "???",
                    Address = "???"
                };
        } 
        else
        {
            var user = Order.Tasks.Where(t => t.Title == Roles.User.ToString()).Single().Users.First();
            _userName = $"{user.FirstName} {user.LastName}";
        }  

        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (Order.Tasks != null)
        {
            var user = Order.Tasks.Where(t => t.Title == Roles.User.ToString()).Single().Users.First();
            _userName = $"{user.FirstName} {user.LastName}";
            _userPhone = user.Phone;
            _userMail = user.Mail;
            StateHasChanged();
        }
        base.OnAfterRender(firstRender);
    }

    private void DeleteOrder()
    {
        _orderClient.DeleteUserOrder(Order!.Id);
        UpdatePage();
    }

    private void CompleteOrder()
    {
        _orderClient.CompleteUserOrder(Order!.Id);
        UpdatePage();
    }

    private async Task EditOrder()
    {
        modal.IsVerticallyCentered = true;
        modal.IsScrollable = true;

        var parameters = new Dictionary<string, object>();
        parameters.Add("Order", Order);
        parameters.Add("UpdatePage", UpdatePage);

        await modal.ShowAsync<EditOrderTemplate>(title: "Изменить заказ", parameters: parameters);
    }

}
