@page "/order"
<PageTitle>Сделать Заказ</PageTitle>

<div class="order-container">
    <h3>Оформление заказа</h3>

    <div class="order-form">
        <form class="row g-3">
            <div class="col-md-12">
                <label for="date-time" class="form-label">Выберите дату и время:</label>
                <input type="datetime-local" class="form-control" id="date-time" name="date-time"/>
            </div>

            <div class="col-md-12">
                <label for="numOfPersons" class="form-label">Введите количество персон:</label>
                <input type="number" class="form-control" id="numOfPersons" name="numOfPersons" min="0" />
            </div>

            <div class="col-md-12">
                <label for="address" class="form-label">Введите адрес:</label>
                <input type="text" class="form-control" id="address" name="address" maxlength="255" />
            </div>

            <div class="col-md-12">
                <label for="comment" class="form-label">Ваши пожелания:</label>
                <input type="text" class="form-control" id="comment" name="comment" maxlength="255" />
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Заказать</button>
            </div>
        </form>
    </div>
</div>

@code {

}
