@page "/dashboard"
@using ConstellationOfDelicacies.Bll.Clients
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer

<h3>Dashboard</h3>
<h3>Ваши задачи на сегодня:</h3>
<div class="container dashboard-container">
    <CardGroup Class="dashboard-cardgroup">
        @foreach (var task in _tasks)
        {
            <div class="worker-card">
                <DashBoardCardTemplate Task="@task" UserId="@UserId" />
            </div>
        }
    </CardGroup>
</div>
@code {
    private List<TasksOutputModel> _tasks;
    private List<OrdersOutputModel> _orders;
    private int UserId;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            // Получаем UserId из клейма
            UserId = int.Parse(user.FindFirst("UserId").Value);
        }

        GetTaskForWorker();
    }
    
    private void GetTaskForWorker()
    {
        TaskClient client = new TaskClient();
        _tasks = client.GetAllWorkerTasks(UserId);
    }
    

}