@page "/home"

<PageTitle>Созвездие Деликатесов</PageTitle>

<div class="home-page">
    <div class="banner">
        <img class="banner-img" src="/Resources/banners/banner1.png" alt="Баннер с едой"/>
        <button class="banner-button">Сделать заказ</button>
    </div>
</div>

@code {

}
