
@using ConstellationOfDelicacies.Web.Components.Templates
@rendermode InteractiveServer

<PageTitle>Созвездие Деликатесов</PageTitle>

<div class="home-page-client">
    <div class="banner">
        <img class="banner-img" src="/Resources/banners/banner1.png" alt="Баннер с едой"/>
        <a class="banner-button" href="/order">Сделать заказ</a> 
    </div>
</div>

@code {

}
